@charset "utf-8";
/* CSS Document */

#principal
{width:800;
height:2500;
margin: 0 auto;
background-color:#FFF;}

#superior
{width:800;
height:150;}

#link_univalle
{width:150;
height:150;
background-image:url(../imgs/baner_esquinero.jpg);
float:left;}

#banner
{width:650;
height:150;
background-color:#CF0;
float:right;}

#inferior
{width:800;
height:3350;}

#menu
{width:150;
height:2860px;
background-color:#CCC;
float:left;}

#texto
{width:650;
height:2800px;
background-color:#DAE5DB;
padding-bottom:30;
padding-top:30;
float:right;}

div#menu p
{font-size:9px;
font-family:Verdana, Geneva, sans-serif;
color:#666;
margin-bottom:30;
margin-top:30;
margin-left:10;
margin-right:10;}

div#menu a
{text-decoration:none;
color:#C00;}

div#menu a hoover
{color:#666;}

div#menu ul
{font-size:9px;
font-family:Verdana, Geneva, sans-serif;
color:#666;    list-style: none;
}

div#menu li
{text-indent:-20px;
white-space:normal;}

div#texto p
{font-size:10;
font-family:Verdana, Geneva, sans-serif;
color:#333;
margin-bottom:30;
margin-top:0;
margin-left:10;
margin-right:10;}

div#texto ul
{font-size:10px;
font-family:Verdana, Geneva, sans-serif;
color:#666;}


/* Contenedor general del visor */
.contenedorvisor {
position: relative;
width: 500px;
height: 618px;
margin: 0 auto;
text-align:center;
overflow: hidden;
}
.contenedorvisor a {
display: inline;
text-decoration: none;
}
/* Estilo miniaturas */
.miniatura {
width: 13%; /* 100/nºimágenes, 5 en el ejemplo */
margin:1px;
border: 3px solid black;
opacity: 1;
}
/* Estilo imagen principal */
.grande {
width:100%;
position: absolute;
top: 800px; /* Valor mayor que alto contenedor para ocultar todas las imágenes */
margin:0 auto;
text-align: center;
display: block;
-webkit-transition: top 1s ease;
-moz-transition: top 1s ease;
-o-transition: top 1s ease;
-ms-transition: top 1s ease;
transition: top 1s ease;
}
/* Relleno inicial del espacio para imagen principal */
.muestra {
opacity: .3;
width: 200%;
top: 280px;
}
/* Marcamos con un borde la miniatura seleccionada */
a:hover .miniatura {
border: 3px solid grey;
opacity: .5;
}
/* Movemos con transición la imagen seleccionada a la zona visible */
a:hover .grande {
top: 280px;
-webkit-transition: top 1s ease;
-moz-transition: top 1s ease;
-o-transition: top 1s ease;
-ms-transition: top 1s ease;
transition: top 1s ease;
z-index:3;
}








